* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(to right, rgb(240, 240, 240), rgb(200, 200, 200));
}

main {
    margin-top: 100px;
}

h2,h3 {
    font-family: 'Loos ExtraWide', system-ui;
}

h2 {
    font-size: 50px;
}

main {
    justify-self: center;
}

header {
    display: flex;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
    background: linear-gradient(to right,rgb(0, 120, 255), rgb(238, 238, 238), rgb(0, 120, 255));
    color: white;
    width: 100%;
    justify-content: center;
}

section {
    background-color:white;
    padding: 10px;
    padding-top: 0;
    border-radius: 20px;
    margin-bottom: 20px;
}

section button {
    display: flex;
    background-color: rgb(0, 100, 255);
    color: white;
    font-size: 20px;
    border: none;
    justify-self: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 20px;
}

#carrossel {
    display: grid;
    border: 10px;
    justify-content: center;
    margin-top: 20px;
}

#carrossel img {
    display: flex;
    border-radius: 10px;
    grid-area: 1/1;
    height: 500px;
    visibility: hidden;
    opacity: 70%;
    transform: scale(0.9);
    transition: opacity ease 0.3s, transform ease-in 0.1s;
}

#carrossel img.ativa {
    visibility: visible;
    opacity: 100%;
    transform: scale(1);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    width: 100%;
    height: 92px;
    background-color: rgb(0, 100, 255);
    color: white;
}

#avanco {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
}

#avanco img {
    display: flex; 
    height: 50px;
}