* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(231, 231, 231);
    height: 600px;
    align-content: center;
}

#login {
    display: flex;
    flex-direction: column;
    justify-self: center;
    background-color: #50f3ff;
    border-radius: 10px;
    width: 500px;
    padding: 20px;
    border:1px solid #00c3d1;
}

#login input,select {
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    height: 25px;
}

#login h2 {
    align-self: center;
}

#genero {
    display: flex;
    align-items: center;
}